<div>
  <form action="/">
    <label for="book_name">
      Введите название книги
    </label>
    <input type="text" id="book_name" name="book_name" value="<%= @book_name %>">
    <input type="submit" value="Искать">
  </form>
</div>
<% if @html_page %>
  <h2><%= @title %></h2>
  <div><%= @html_page %></div>
<% end %>
