<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  </head>
  <body>
    <style>
      body {
        font-family: 'Old Standard TT', serif;
        font-size: 1.5em;
        background-color: #ffdead;
        margin: 2em 10%;
      }

      input {
        background-color: #eee;
      }

      form {
        font-size: 0.8em;
      }
    </style>
    <%= yield %>
  </body>
</html>
